@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

html, body {
    font-family: 'Open Sans', serif;
    font-size: 18px;
    text-shadow: 1px 1px #00000069;
    margin-left: 10%;
    margin-right: 10%;
    text-align: left;
    line-height: 2;
    letter-spacing: 0.03em;
    background-color: #333;
    color: #f7f7f7;
}
